.container {
  width: 60vw;
  border: 2px dashed green;
  position: relative;
  overflow: hidden;
}

.box {
  width: 200px;
  height: 70px;
  font-family: sans-serif;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.static {
  position: static;
  background-color: #ff1d00;
}

.fixed {
  position: fixed;
  top: 10%;
  left: 30%;
  z-index: 1;
  background-color: #ffeb00;
  color: black;
}

.sticky {
  position: sticky;
  top: 0px;
  /* right: 20%; */
  background-color: #ff9ecf;
}

.relative {
  position: relative;
  top: 40%;
  left: 20%;
  background-color: #1fd81f;
}

.absolute {
  position: absolute;
  top: 40%;
  left: 300px;
  z-index: 2;
  background-color: #0180fc;
}
